{% extends "__base.html" %}
{% block content %}
{% load static %}
{% load marketing %}

<center>
	<section id="myCarousel" class="carousel slide" data-ride="carousel" style="max-width: 960px;">
		<!-- Indicators -->
		<ol class="carousel-indicators">
			<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
			<li data-target="#myCarousel" data-slide-to="1"></li>
			<li data-target="#myCarousel" data-slide-to="2"></li>
 			<li data-target="#myCarousel" data-slide-to="3"></li>
		</ol>
		<div class="carousel-inner" role="listbox">
			<figure class="item active">
				<img src="{% static 'img/esports_1.jpg' %}" alt="Find amazing events" style="max-height: 540px;">
				<figcaption class="carousel-caption">
				<h1>Find Amazing Events</h1>
					<p>Find amazing local events to attend</p>
					<p><a class="btn btn-lg btn-primary" href="{% url 'register' %}" role="button">Sign up today</a></p>
				</figcaption>
			</figure>
 			<figure class="item">
				<img src="{% static 'img/esports_2.jpg' %}" alt="Enter and Prove Your Worth" style="max-height: 540px;">
				<figcaption class="carousel-caption">
				<h1>Enter and Prove Your Worth</h1>
					<p>Prove you are the best player in your zone.</p>
					<p><a class="btn btn-lg btn-primary" href="#" role="button">Join the best</a></p>
				</figcaption>
			</figure>
 			<figure class="item">
				<img src="{% static 'img/esports_3.jpg' %}" alt="Be a part of a community" style="max-height: 540px;">
				<figcaption class="carousel-caption">
				<h1>Be a Part of the Community</ht>
					<p>Support your Local Esports Scene</p>
					<p><a class="btn btn-lg btn-primary" href="#" role="button">Support your Clan</a></p>
				</figcaption>
			</figure>
  			<figure class="item">
				<img src="{% static 'img/esports_4.jpg' %}" alt="Find Your Next Tournament" style="max-height: 540px;">
				<figcaption class="carousel-caption">
				<h1>Build Teams and Reign Supreme</ht>
					<p>Easily organize teams for your next scrim.</p>
					<p><a class="btn btn-lg btn-primary" href="#" role="button">Find Your Next Tourney</a></p>
				</figcaption>
			</figure>
		</div>
		<a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
			<span class="glyphicon glyphicon-chevron-left"></span>
		</a>
 		<a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
			<span class="glyphicon glyphicon-chevron-right"></span>
		</a>
	</section>
</center>

<br><br>

<section class="container marketing">
	<!-- Three columns of text below the carousel -->
	<div class="row center-text">
		{% circle_header_item img_name='marketing_0.png' heading='Host your esports event' caption='Get all the tools you need to set up your own esports event.' %}
 		{% circle_header_item img_name='marketing_1.png' heading='Fill your brackets' caption='Get sign ups online and watch your brackets fill up!' %}
 		{% circle_header_item img_name='marketing_2.png' heading='Manage your entries' caption='Take payments and increase your prize pool' %}
	</div>
</section>

{% endblock %}
